* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  box-shadow: 0 0 0 1px rgba(var(--bs-primary-rgb));
}

.bg-none {
  background: none !important;
}

.shadow-md {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.border-dashed {
  border-style: dashed !important;
}

.blocks-placeholder {
  min-height: 600px;
}

.switches-container {
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: rgba(var(--bs-grey-rgb));
  line-height: 3rem;
  border-radius: 0.5rem;
}

.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: rgba(var(--bs-grey-40-rgb));
}

.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
}

.switch {
  border-radius: 0.5rem;
  background: rgba(var(--bs-white-rgb));
  height: 100%;
}

.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: rgba(var(--bs-grey-40-rgb));
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}